<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStringDB"
       connectionString="Data Source=WANDEXX\SQLEXPRESS;
                         Initial Catalog=DBSISTEMA;
                          User Id=wandexx;
                         Password=wander2326;
                         Integrated Security=True;"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>